.footer-tab{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content:space-between;
    background: gray;
    border-radius: 50px;
    padding: 5px;
    margin-top: 5em;
    margin-bottom: 2em;
}

.social-list span{
    display: inline-flex;
    background: #fff;
    color: var(--clr);
    padding: 10px;
    border-radius: 50px;
}

.social-lists{
    margin-right: 50px;
    margin-left: 30px;
}

.social-list span:hover{
    display: inline-flex;
    transform: translateZ(300px) perspective(100px);
    background-color: var(--clr);
    color: #fff;
}

.end__title{
    display: inline-flex;
    background: #fff;
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.cc__rights{
    display: inline-flex;
    color: antiquewhite;
    margin-left: 50px;
    margin-right: 25px;
}


/* skills animated bar */

.skills h3{
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 5px;
    color: black;
    font-size: 16px;
}

.progress-bar{
    background: powderblue;
    max-width: 750px;
    min-width: auto;
    height: 10px;
    border-radius: 5px;
}

.progress-bar div{
    height: 10px;
    border-radius: 5px;
    width: 0%;
    /* background: teal; */
}

.progress-bar div span{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #303030;
    float: right;
    margin-top: -11px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.html{
    background: #F16604;
    animation:html 1s linear forwards;
}
@keyframes html{
    100%{width: 60%;}
}

.css{
    background: #04D4F1;
    animation: css 1s linear forwards;
}
@keyframes css{
    100%{width: 50%;}
}

.J-Script{
    background: #69D9E9;
    animation: J-Script 1s linear forwards;
}
@keyframes J-Script{
    100%{width: 40%;}
}

.html span{
    border: 2px solid #F16604;
}

.css span{
    border:2px solid #04D4F1;
}

.J-Script span{
    border:2px solid #69D9E9;
}